#─────────────────────────────────────────────────────
# 0) Ignore all project files first
#─────────────────────────────────────────────────────
**

#─────────────────────────────────────────────────────
# 1) Whitelist
#─────────────────────────────────────────────────────
# 构建脚本 / 配置
!mvnw
!mvnw.cmd
!.mvn/
!.springjavaformatconfig
!.coding

!pom.xml

!src
#─────────────────────────────────────────────────────
# 2) 二次排除 —— 避免白名单额外引入
#─────────────────────────────────────────────────────
# Build / IDE / VCS
target/
out/
build/
.m2/
.gradle/
.git/
.gitmodules/
.idea/
.vscode/
*.iml
*.sw?

# Test / Assets
src/test/
src/it/
src/integrationTest/
src/contractTest/

# OS / Others
.DS_Store
Thumbs.db
