<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <!-- github -->
        <server>
            <id>github</id>
            <username>${env.GITHUB_USERNAME}</username>
            <password>${env.GITHUB_TOKEN}</password>
        </server>
        <!-- ossrh -->
        <server>
            <id>central-portal</id>
            <username>${env.MAVEN_USERNAME}</username>
            <password>${env.MAVEN_PASSWORD}</password>
        </server>
        <server>
            <id>central-portal-snapshots</id>
            <username>${env.MAVEN_USERNAME}</username>
            <password>${env.MAVEN_PASSWORD}</password>
        </server>
        <!-- artifactory -->
        <server>
            <id>archetype</id>
            <username>${env.X9X_ARTIFACTORY_USERNAME}</username>
            <password>${env.X9X_ARTIFACTORY_PASSWORD}</password>
        </server>
        <server>
            <id>artifactory-public</id>
            <username>${env.X9X_ARTIFACTORY_USERNAME}</username>
            <password>${env.X9X_ARTIFACTORY_PASSWORD}</password>
        </server>
        <server>
            <id>artifactory-releases</id>
            <username>${env.X9X_ARTIFACTORY_USERNAME}</username>
            <password>${env.X9X_ARTIFACTORY_PASSWORD}</password>
        </server>
        <server>
            <id>artifactory-snapshots</id>
            <username>${env.X9X_ARTIFACTORY_USERNAME}</username>
            <password>${env.X9X_ARTIFACTORY_PASSWORD}</password>
        </server>
        <!-- gpg -->
        <server>
            <id>${env.GPG_KEYID}</id>
            <passphrase>${env.MAVEN_GPG_PASSPHRASE}</passphrase>
        </server>
        <!-- registry -->
        <server>
            <id>docker.io</id>
            <username>${env.DOCKER_USERNAME}</username>
            <password>${env.DOCKER_PASSWORD}</password>
        </server>
        <server>
            <id>registry-1.docker.io</id>
            <username>${env.DOCKER_USERNAME}</username>
            <password>${env.DOCKER_PASSWORD}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>mirror-artifactory</id>
            <url>https://maven.aliyun.com/repository/public</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>default</id>
            <properties>
                <!-- deploy -->
                <setting.altSnapshotDeploymentRepository.artifactory>artifactory-snapshots::https://${env.X9X_ARTIFACTORY_DOMAIN}/artifactory/maven-dev-local</setting.altSnapshotDeploymentRepository.artifactory>
                <setting.altReleaseDeploymentRepository.artifactory>artifactory-releases::https://${env.X9X_ARTIFACTORY_DOMAIN}/artifactory/maven-prod-local</setting.altReleaseDeploymentRepository.artifactory>
                <setting.altSnapshotDeploymentRepository.central>central-portal-snapshots::https://central.sonatype.com/repository/maven-snapshots/</setting.altSnapshotDeploymentRepository.central>
                <!-- archetype -->
                <setting.archetype.catalog.upload.serverId>artifactory-public</setting.archetype.catalog.upload.serverId>
                <setting.archetype.catalog.upload.url>https://${env.X9X_ARTIFACTORY_DOMAIN}/artifactory/maven-public-virtual</setting.archetype.catalog.upload.url>
                <setting.gpg.keyname>${env.GPG_KEYID}</setting.gpg.keyname>
                <setting.docker.build.namespace>${env.X9X_REGISTRY}/x9x</setting.docker.build.namespace>
            </properties>
        </profile>
        <profile>
            <id>publish-central</id>
            <properties>
                <auto.release.enabled>true</auto.release.enabled>
                <auto.layered.enabled>true</auto.layered.enabled>
                <auto.assembly.enabled>false</auto.assembly.enabled>
                <devops.release.arguments>-Pcoding,publish-central -DskipTests</devops.release.arguments>
            </properties>
        </profile>
        <profile>
            <id>publish-github</id>
            <properties>
                <auto.release.enabled>true</auto.release.enabled>
                <auto.layered.enabled>true</auto.layered.enabled>
                <auto.assembly.enabled>false</auto.assembly.enabled>
                <devops.release.arguments>-Pcoding,publish-github -DskipTests</devops.release.arguments>
                <altSnapshotDeploymentRepository>
                    github::https://maven.pkg.github.com/xooooooooox/radp
                </altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>
                    github::https://maven.pkg.github.com/xooooooooox/radp
                </altReleaseDeploymentRepository>
            </properties>
        </profile>
        <profile>
            <id>publish-artifactory</id>
            <properties>
                <auto.archetype.catalog.artifactory>true</auto.archetype.catalog.artifactory>
                <auto.archetype.catalog.minio>true</auto.archetype.catalog.minio>
                <devops.release.arguments>-Pcoding,publish-artifactory -DskipTests
                </devops.release.arguments>
                <altSnapshotDeploymentRepository>
                    artifactory-snapshots::https://${env.X9X_ARTIFACTORY_DOMAIN}/artifactory/maven-dev-local
                </altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>
                    artifactory-releases::https://${env.X9X_ARTIFACTORY_DOMAIN}/artifactory/maven-prod-local
                </altReleaseDeploymentRepository>
            </properties>
        </profile>

        <profile>
            <id>repo-aliyun</id>
            <properties>
                <setting.repository.url.aliyun-public>https://maven.aliyun.com/repository/public</setting.repository.url.aliyun-public>
            </properties>
            <repositories>
                <repository>
                    <id>aliyun-public</id>
                    <url>${setting.repository.url.aliyun-public}</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>aliyun-public</id>
                    <url>${setting.repository.url.aliyun-public}</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

        <profile>
            <id>repo-central</id>
            <repositories>
                <repository>
                    <id>repo-central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>central-portal-snapshots</id>
                    <url>https://central.sonatype.com/repository/maven-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <!-- id expected by maven-archetype-plugin to avoid fetching from everywhere -->
                    <id>archetype</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>repo-central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

    </profiles>

    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
</settings>