############################################## inputs ##################################################################
spec:
  inputs:
    debug_mode:
      type: boolean
      default: true
    environment:
      type: string
      options: [ '', 'dev', 'sit', 'uat', 'prod', 'local' ]
      default: ''
    runner_tags:
      type: string
      options:
        # docker executor
        - docker
        - docker-arm64
        - docker-dind
        - docker-dood
        - docker-rootless
        # shell executor
        - shell
        - shell-arm64
        - shell-ubuntu
        - shell-ubuntu-arm64
        - shell-amd64
        - shell-centos
        - shell-centos-amd64
        # kubernetes executor
        - kubernetes
        - k8s
        - k8s-amd64
        - k8s-arm64
      default: 'docker'
    version_type:
      type: string
      options: [ 'timestamp',  'patch', 'minor', 'major' ]
      default: 'timestamp'

---
############################################## includes ################################################################
include:
  - project: coding/homelab/gitlab-ci-templates
    ref: main
    file: templates/pipelines/feature/lang/java.yml
    inputs:
      debug_mode: $[[ inputs.debug_mode ]]
      environment: $[[ inputs.environment ]]
      version_type: $[[ inputs.version_type ]]
      runner_tags: $[[ inputs.runner_tags ]]

############################################## variables ###############################################################
# 预定义变量 https://docs.gitlab.com/ee/ci/variables/predefined_variables.html
variables:
  #====================================================================================================================#
  #============================================= [p] Parent Pipeline ==================================================#
  #====================================================================================================================#
  # 说明: (code-review = lint + unit_test + sonarqube)
  # 如果 mr target branch 在这个列表中, 将触发 code-review 相关 Jobs
  TP_WORKFLOW_RULE_BRANCHES_MR: '/^(master|develop|main|future|3.x|4.x)$/'
  TP_WORKFLOW_RULE_BRANCHES_RELEASE: '/^(master|develop|main|future|3.x|4.x)$/'

  #--------------------------------------------- [p-1] prepare args ---------------------------------------------------#
  TP_PREPARE_SCRIPT_REF: main   # 可选: 指定使用哪个分支的脚本，如果未指定，将尝试获取最新的tag，如果没有tag则使用main. 默认为 [environment-]x.y.x, 如果 environment 指定了 prod, 则 tag 为 prod-1.0.0; 否则为 1.0.0

  #--------------------------------------------- [p-2] trigger args ---------------------------------------------------#

  # 1) 子作业流控制

  # 2) 作业控制: 子作业流 lang_pipeline
  TP_RUN_LINT: "true"                                       # [c/1-1] 是否启用代码评审阶段
  TP_RUN_UNIT_TEST: "true"                                  # [c/1-2] 是否启用单元测试阶段
  TP_RUN_SONARQUBE: "false"                                 # [c/1-3] 是否启用质量门阶段
  TP_RUN_BUILD: "false"                                     # [c/1-4] 是否启用构建阶段
  TP_RUN_PACKAGE: "false"                                   # [c/1-5] 是否启用打包阶段
  TP_RUN_PUBLISH: "true"                                    # [c/1-6] 是否启用制品发布阶段
  TP_RUN_PAGES: "true"                                      # [c/1-7] 是否启用pages阶段
  TP_RUN_DEPLOY: "false"                                    # [c/1-8] 是否启用部署阶段
  TP_RUN_RELEASE: "true"                                    # [c/1-9] 是否启用打版阶段
  TP_RUN_SUMMARY: "false"                                   # [c/1-10] 是否启用汇总制品阶段

  #====================================================================================================================#
  #--------------------------------------------- [c] Child Pipeline ---------------------------------------------------#
  #====================================================================================================================#
  #--------------------------------------------- 缓存 ------------------------------------------------------------------#

  #============================================= [c/1] Lang Pipeline ==================================================#
  TP_BASE_IMAGE: "maven:3.9.9-eclipse-temurin-17"

  #--------------------------------------------- [c/1-1] lint args ----------------------------------------------------#

  #--------------------------------------------- [c/1-2] unit-test args -----------------------------------------------#

  #--------------------------------------------- [c/1-3] sonarqube args -----------------------------------------------#

  #--------------------------------------------- [c/1-4] build args ---------------------------------------------------#

  #--------------------------------------------- [c/1-5] package args -------------------------------------------------#

  #--------------------------------------------- [c/1-6] publish args -------------------------------------------------#
  TP_PUBLISH_TYPE: maven

  # 1-6-1 publish-by-maven args
  TP_PUBLISH_BY_MAVEN_IMAGE: $TP_BASE_IMAGE
  TP_PUBLISH_BY_MAVEN_SHELL: "$DF_PUBLISH_BY_MAVEN_BASE_SHELL \
                  -DskipTests \
                  -Dauto.release.enabled=false \
                  -Dauto.archetype.catalog.minio=false \
                  -ntp --settings .mvn/settings.xml \
                  -Pcoding,publish-artifactory,env-$TP_RUNTIME_ENV"

  #--------------------------------------------- [c/1-7] pages args ---------------------------------------------------#
  TP_PAGES_TYPE: "writerside"

  # 发布 pages - writerside
  TP_WRITERSIDE_INSTANCE: "Writerside/radp"

  #--------------------------------------------- [c/1-8] deploy args --------------------------------------------------#

  #--------------------------------------------- [c/1-9] release args -------------------------------------------------#
  TP_RELEASE_TAG_SEARCH: v3
  TP_RELEASE_TAG_PREFIX: v
  TP_RELEASE_TYPE: "maven-release-plugin"

  # 1-9-1 release by maven args
  TP_RELEASE_PREPARE_SHELL: "$DF_RELEASE_PREPARE_BASE_SHELL -ntp --settings .mvn/settings.xml -DskipTests -Pcoding,publish-artifactory,o-release"
  TP_RELEASE_PERFORM_SHELL: "$DF_RELEASE_PERFORM_BASE_SHELL -ntp --settings .mvn/settings.xml -DskipTests -Pcoding,publish-artifactory,o-release"
  TP_RELEASE_ROLLBACK_SHELL: "$DF_RELEASE_ROLLBACK_BASE_SHELL -ntp --settings .mvn/settings.xml"

  #--------------------------------------------- [c/1-10] summary args ------------------------------------------------#
