<?xml version="1.0" encoding="UTF-8"?>
<!--
测试环境场景的日志配置模板

1. 使用Spring Boot的日志扩展
2. 提供彩色控制台输出
3. 支持文件日志输出和滚动策略
4. 支持按日志级别分类存储
-->

<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <!--    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>-->
    <include resource="logback/springboot/scenarios/testing/logback-config.xml"/>
</configuration>

