<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- Custom log path -->
    <property name="userLogPath" value="../../../logs/radp-smoke-tests-logging/classic" />
    <property name="userLogFileName" value="radp-smoke-tests-logging"/>

    <include resource="logback/classic/templates/logback-classic-test.xml"/>
</configuration>
