<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <include resource="logback/classic/templates/logback-classic-test.xml"/>

    <!-- 覆盖 radp-logging-spring-boot-starter 模板默认值 -->
    <property name="userLogPath" value="../../../logs/radp-smoke-tests-logging/classic" />
    <property name="userLogFileName" value="radp-smoke-tests-logging"/>

    <!-- Set the root logger level to trace to enable all log levels -->
<!--    <property name="logging.level.root" value="trace" />-->
    <logger name="space.x9x.radp" level="trace" />
</configuration>
